.container {
	display: flex;
}

.box {
	width: 100px;
	height: 100px;
}

.box_one {
	background-color: #20262e;
}

.box_second {
	background-color: #cd0404;
}

.box_third {
	background-color: #3d1766;
}
